<%- include('include/_header') %>
    <!-- /include header -->

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav box-nav-back d-flex justify-between">
                <a href="/admin-login/show-emp" class="border-shadow">
                    <span class="text-gradient"><i class="icon fas fa-angle-double-left"></i> All Employees</span>
                </a>
            </div>
            <div class="form-title text-center">
                <h2 class="text-gradient">Add New Employee</h2>
            </div>

            <!-- add user form -->
            <%- include('include/_form') %>

        </div>
    </main>
    <!-- /Main Site -->

    <!-- include footer -->
    <%- include('include/_footer') %>
        <!-- /include footer