<%-include('include/_header')%>
    <div class="welcome-heading">
        <h2>Welcome to PrintPack</h2>
    </div>
    <div class="all-emp">
        <a href="admin-login/show-emp" class="border-shadow">
            <span class="text-gradient">Show All Employees</span>
        </a>
    </div>


    <%-include('include/_footer')%>