<%-include('include/_header')%>
    <div class="welcome-heading">
        <h2>Welcome to PrintPack</h2>
    </div>
    <div class="all-emp">
        <a href="employee-login/edit-emp" class="border-shadow">
            <span class="text-gradient">Edit Your Details</span>
        </a>
    </div>
<%-include('include/_footer')%>