<%- include('include/header_login') %>

    <body>
        <div class="main-index-body">
            <div class="print-heading">
                <h1>Welcome to PrintPack</h1>
            </div>
            <div class="page-links">
                <a href="/admin-login">Admin Login</a></br>
                <a href="/employee-login">Employee Login</a>
            </div>
        </div>
    </body>

    </html>